#folder-wrap {
	background-color: #f9f9f9;
	border-top: 1px solid #7f7f7f;
	border-left: 1px solid #7f7f7f;
	border-right: 1px solid #7f7f7f;
}
#folder {
	background: url(icon_folder.gif) no-repeat 2px 0;
	padding-left: 24px;
	margin: 14px 10px;
}
form {
	display: block;
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
	margin: 20px auto;
	/*width:400px;*/
	padding:14px;
}
label {
	display:block;
	font-weight:bold;
	text-align:right;
	width: 60px;
	padding: 6px 0;
	float:left;
}
input, textarea {
	float:left;
	font-size:14px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width: 610px;
	margin:2px 0 20px 10px;
}
form img {
	margin: 0 0 20px 70px;
	border:solid 1px #aacfe4;
	clear:both;
}
textarea {
	font-family: "Lucida Console", monospace;
}
.buttons {
	clear:both;
	margin-left: 70px;
}
#message {
	display: none;
	color: #8ac;
	margin-left: 10px;
}
.yui-skin-sam .yui-dt td.article {
    background-image: url(icon_article.gif);
    background-repeat: no-repeat;
    background-position: 3px 50%;
}
.yui-skin-sam .yui-dt td.folder {
    background-image: url(icon_folder.gif);
    background-repeat: no-repeat;
    background-position: 3px 50%;
}
.yui-skin-sam .yui-dt td.image {
    background-image: url(icon_file.gif);
    background-repeat: no-repeat;
    background-position: 3px 50%;
}
.yui-skin-sam .yui-dt td.up {
    background-image: url(icon_folder_back.gif);
    background-repeat: no-repeat;
    background-position: 3px 50%;
}
.yui-skin-sam .yui-dt td.right {
	text-align: right;
}
.yui-skin-sam .yui-dt-scrollable .yui-dt-bd { 
    overflow-y: scroll; 
}
.yui-skin-sam #newButton li.yuimenuitem .yuimenuitemlabel {
    background-repeat: no-repeat;
    background-position: 4px 3px;
    padding: 4px 20px 4px 24px;
}
.yui-skin-sam #newButton li.article .yuimenuitemlabel{
    background-image: url(icon_article.gif);
}
.yui-skin-sam #newButton li.folder .yuimenuitemlabel{
    background-image: url(icon_folder.gif);
}
.yui-skin-sam #newButton li.image .yuimenuitemlabel{
    background-image: url(icon_file.gif);
}
