{% extends "layout.html" %}

{% block head %}

	<!-- admin -->
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/button/assets/skins/sam/button.css" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/menu/assets/skins/sam/menu.css" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/datatable/assets/skins/sam/datatable.css" /> 
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script> 
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/json/json-min.js"></script> 
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/element/element-min.js"></script> 
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/animation/animation-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/container/container_core-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/menu/menu-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/button/button-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datasource/datasource-min.js"></script> 
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datatable/datatable-min.js"></script> 
	<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/selector/selector-min.js"></script> 

	<link rel="stylesheet" type="text/css" href="/style/admin.css" />
	
{% endblock %}

{% block content %}
	<div class="yui-skin-sam">
	
	<div id="folder-wrap">
		<div id="newButton" style="float: right; margin: 10px;"></div>
		<h2 id="folder"></h2>
		<div style="clear: both;"></div>
	</div>
	
	<div id="grid"></div>
	
	<form id="edit" style="display: none" enctype="multipart/form-data">
	
		<div><label>Type</label>
		<input type="text" id="class_name" name="class_name" /></div>
		
		<div><label>Path</label>
		<input type="text" id="path" name="path" /></div>
		
		<div><label>Template</label>
		<input type="text" id="template" name="template" /></div>
		
		<div><label>Title</label>
		<input type="text" id="title" name="title" /></div>
		
		<div><label>Image</label>
		<input type="file" id="image_blob" name="image_blob" />
		<img id="thumb" /></div>
		
		<div><label>Body</label>
		<textarea id="body" name="body" rows="15"></textarea></div>
		
		<div class="buttons"><button id="save">Save</button>
		<span id="message"></span></div>
		
		
		
	</form>
	
	</div>
 
<script type="text/javascript" src="/js/admin.js"></script> 
{% endblock %}