{% extends "layout.html" %}

{% block title %} {{ resource.title }}, {{ resource.year }} | {{ block.super }}{% endblock %}

{% block content %}

<div class="row artwork">
    <div class="column span-12">

        <div class="image"><img src="{{resource.image_path}}?w=918&h=648" alt="{{resource.title}}" /></div>

        <div class="row">
            <div class="column span-6">
                <div class="catalog">
                    <span class="title">{{ resource.title }}</span>,
                    <span class="year">{{ resource.year }}</span>
                    <span class="media">{{ resource.media }}</span>,
                    <span class="dimensions">{{ resource.dimensions }}</span>
                </div>
                <div class="description">
                    {{ resource.body|safe }}
                </div>
            </div>
            <div class="column span-6">
                <h3>Related</h3>
                <!--
                <div style="margin: 0 -5px;">
                    <div style="width: 62px; margin: 0 5px 10px 5px; float: left;">
                        <img src="{{resource.image_path}}?w=62&h=62" alt="{{resource.title}}" />
                    </div>
                    <div style="width: 62px; margin: 0 5px 10px 5px; float: left;">
                        <img src="{{resource.image_path}}?w=62&h=62" alt="{{resource.title}}" />
                    </div>
                    <div style="width: 62px; margin: 0 5px 10px 5px; float: left;">
                        <img src="{{resource.image_path}}?w=62&h=62" alt="{{resource.title}}" />
                    </div>
                    <div style="width: 62px; margin: 0 5px 10px 5px; float: left;">
                        <img src="{{resource.image_path}}?w=62&h=62" alt="{{resource.title}}" />
                    </div>
                    <div style="width: 62px; margin: 0 5px 10px 5px; float: left;">
                        <img src="{{resource.image_path}}?w=62&h=62" alt="{{resource.title}}" />
                    </div>
                    <div style="width: 62px; margin: 0 5px 10px 5px; float: left;">
                        <img src="{{resource.image_path}}?w=62&h=62" alt="{{resource.title}}" />
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
