{% extends "layout.html" %}

{% block content %}

{% if resource.title %}<h2>{{resource.title}}</h2>{% endif %}

{% if resource.body %}<div>{{resource.body}}</div>{% endif %}

{% if children %}
<table>
    {% for child in children %}
    <tr>
        <td style="text-align: center;">
            {% ifequal child.class_name "Image" %}
            <img src="{{ child.path }}?w=64&h=64" />
            {% else %}
            {{ child.class_name }}
            {% endifequal %}
        </td>
        <td>
            <a href="{{ child.path }}">{{ child.title }}</a>
        </td>
        <td>
            {{ child.publication_date }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
