{% extends "layout.html" %}

{% block content %}

<h2>{{resource.title}}</h2>

<div>{{resource.body}}</div>

<table>
    {% for child in children %}
    <tr>
        <td style="text-align: center;">
            {% ifequal child.class_name "Image" %}
            <img src="{{ child.path }}?w=64&h=64" />
            {% else %}
            {{ child.class_name }}
            {% endifequal %}
        </td>
        <td>
            <a href="{{ child.path }}">{{ child.title }}</a>
        </td>
        <td>
            {{ child.publication_date }}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
