{% extends "layout.html" %}

{% block title %}{% if resource.title %}{{resource.title}}{% else %}{{resource.path}}{% endif %} - {% endblock %}

{% block content %}

<h2>{% if resource.title %}{{resource.title}}{% else %}{{resource.path}}{% endif %}</h2>

{% if resource.body %}<div>{{resource.body}}</div>{% endif %}

{% if resource.parent_path %}<div><a href="{{ resource.parent_path }}">&laquo; back to parent folder</a></div>{% endif %}

{% if children %}
<table>
    <tr>
        <th>Icon</th>
        <th>Type</th>
        <th>Title</th>
        <th>Path</th>
        <th>Date</th>
    </tr>
    {% for child in children %}
    <tr>
        <td style="text-align: center;">
            {% if child.class_name == "Image" %}
            <img src="{{ child.path }}?w=64&h=64" />
            {% else %}
            <img src="/style/icon_{{ child.class_name }}.gif" />
            {% endif %}
        </td>
        <td>
            {{ child.class_name }}
            {% if child.class_name == "Image" %}
            <span class="small">({{ child.width }} x {{ child.height }})</span>
            {% endif %}        </td>
        <td>
            <a href="{{ child.path }}">{{ child.title }}</a>
        </td>
        <td>
            <a href="{{ child.path }}">{{ child.path }}</a>
        </td>
        <td>
            {{ child.publication_date }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
