{% extends "layout.html" %}

{% block content %}

<h2>{{resource.title}}</h2>
<div>{{resource.body}}</div>

<div class="row">
    {% for child in children %}
    <div class="column span-4">
        <a class="thumb" href="{{ child.path }}">
            <div class="image"><div><img src="{{ child.image_path }}?w=200&amp;h=200" alt="{{ child.title }}" /></div></div>
            <div class="title"><span>{{ child.title }},</span> {{ child.year }}, {{ child.media }}</div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
