{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="column span-3">
        <div>{{resource.body|default:"&nbsp;"}}</div>
    </div>
    <div class="column span-6">
        {% for child in children %}
            <div class="post">
                <h2><a href="{{ child.path }}">{{ child.title }}</a></h2>
                {% include "post_body.html" %}
                <div class="date">{{ child.publication_date|date:"Y.m.d P T" }}</div>
            </div>
        {% endfor %}
        {% if children %}
            <h3><a href="/blog/">Blog Archive &raquo;</a></h3>
        {% else %}
            &nbsp;
        {% endif %}
    </div>
    <div class="column span-3">
        <div id="right">{{resource.body_extended|default:"&nbsp;"}}</div>
    </div>
</div>

{% endblock %}
