{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="column span-12">
        <div>{{resource.body|default("&nbsp;")}}</div>
    </div>
</div>
<div class="row">
    <div class="column span-8">
        {% for child in children %}
            <div class="post">
                <h2><a href="{{ child.path }}">{{ child.title }}</a></h2>
                {% if child.class_name == "Article" %}{% include "article_post.html" %}{% endif %}
                {% if child.class_name == "Artwork" %}{% include "artwork_post.html" %}{% endif %}
                <div class="date">
                	Posted {{ child.publication_date|format("Y.m.d P T") }}
                	{% if child.tags %}
                		in:
                		{% for tag in child.tags %}{% if forloop.counter != 1 %},
                		{% endif %}<a href="{{ tag.path }}">{{ tag.title }}</a>{% endfor %}.
                	{% endif %}
                </div>
            </div>
        {% endfor %}
        {% if children %}
            <h3><a href="/blog/">Blog Archive &raquo;</a></h3>
        {% else %}
            &nbsp;
        {% endif %}
    </div>
    <div class="column span-4">
        <div id="right">{{resource.body_extended|default("&nbsp;")}}</div>
    </div>
</div>

{% endblock %}
