<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="verify-v1" content="vVp8v5+HxQhLBO1I7svFv+9dwvXBLpSoz/FtqwBP/0g=" />
    <title>{% block title %}Jason DeFontes{% endblock %}</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css" /> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/fonts/fonts-min.css" />
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
{% block head %}{% endblock %}
</head>
<body class="body">
<div id="wrap">
    <div class="row">
        <div class="column span-3">
            <h1 id="logo"><a href="/"><span class="replaced">Jason DeFontes</span></a></h1>
        </div>
        <div class="column span-9">
            <!--
            <ul id="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/art/">Artwork</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
            -->
        </div>
    </div>
    <div class="row">
        <div class="column span-12">
{% block content %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="column span-12">
            <div id="icon"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column span-12">
        <p class="copyright">Copyright &copy 1995-2009, Jason DeFontes. All rights reserved.</p>
    </div>
</div>

<!-- begin google analytics -->
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-332017-1");
        pageTracker._trackPageview();
    } catch(err) {
    }
</script>
<!-- end google analytics -->
</body>
</html>
