{% extends "layout.html" %}

{% if resource.title %}{% block title %}Items Tagged '{{resource.title}}' - {% endblock %}{% endif %}

{% block content %}

<h2>Items Tagged '{{resource.title}}'</h2>
<div>{{resource.body}}</div>


{% for child in children %}
    {% ifequal child.class_name "Artwork" %}
    <div>
        <a class="thumb" href="{{ child.path }}">
            <div class="image"><div><img src="{{ child.image_path }}?w=200&amp;h=200" alt="{{ child.title }}" /></div></div>
            <div class="title"><span>{{ child.title }},</span> {{ child.year }}, {{ child.media }}</div>
        </a>
    </div>
    {% endifequal %}
{% endfor %}

{% for child in children %}
    {% ifequal child.class_name "Article" %}
    <div>
        <a href="{{ child.path }}">{{ child.title }}</a>
    </div>
    {% endifequal %}
{% endfor %}

{% endblock %}
